body{
 background-color:gray;
  text-align:center
  
  
  
  
}
h1{
 color:white;
  border:2px solid white;
  border-color:white;
 padding:10px
  
  
  
  
}h2{
 color:white ;
    border:2px solid white;
  border-color:white;
  padding:8px
   

  
  
  
  
  
  
  
}